target/*
static/*
ssl/*
logs/*
deploy_bin/*
backup/*
batch/backup/*
crawler/target/*
.env
package.json
package-lock.json
node_modules/*
.vscode/*
.DS_Store

Cargo.lock

crawler/failed_pages.txt

gemini_requests.log

migrations/.keep

barnote-1cb21-7536f37fd5e0.json
batch/daily_job.log

*/new_product.json